@{
    ViewData["Title"] = "Home Page";
}


<style>
    body {
        background-color: #006400; 
        color: #FFD700; 
        font-family: Arial, sans-serif;
    }

    .header {
        background-color: #778899; 
        padding: 20px;
        text-align: center;
    }

        .header h1 {
            font-size: 3em;
            margin: 0;
        }

        .header p {
            font-size: 1.2em;
            margin-top: 10px;
        }

    .content {
        padding: 20px;
        text-align: center;
    }

        .content a {
            color: #FFD700; 
            text-decoration: none;
        }

            .content a:hover {
                text-decoration: underline;
            }

    .footer {
        background-color: #778899; 
        padding: 10px;
        text-align: center;
        color: #fff;
    }
</style>

<div class="header">
    <h1 class="display-4">Welcome to UAB Men's Soccer</h1>
    <p>Your source for all things UAB Blazers Soccer</p>
</div>

<div class="content">
    <p>Learn about <a href="https://uabsports.com/sports/mens-soccer">UAB Men's Soccer</a> and stay updated with the latest news and events.</p>
</div>

<div class="footer">
    <p> 2024 UAB Men's Soccer. </p>
</div>
